.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.quote-container{
    padding: 30px;
    flex-direction: column;
    background-color: rgb(83, 166, 221);
    color: white;
    margin-bottom: 10%;
    border-radius: 15px;
    box-shadow: 20px 20px lightgray;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    font-size: 20px;
    border-bottom: solid rgba(0, 0, 0, 0.466);
}

.quote-details{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.quote-button-container{ 
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin: 0px 10px;
    border: none;
    border-radius: 20px;
    background-color: white;
    flex-direction: row;
}

.quote-button-container:hover{
    border: solid black;
    
}

.quote-button-container:active{
    background-color: black;
    color:white;
    
}

.person-button-container{ 
    padding: 30px;
    font-size: 15px;
    margin: 0px 2px;
    border: none;
    border-radius: 20px;
    background-color: lightgrey;
    flex-direction: row;
}

.person-button-container:hover{
    background-color: black;
    color: white;  
}

.person-button-container:focus{
    background-color: black;
    color: white;
}